.first-section {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
}

.list-first-section {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
}

.icon-firs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--third-background-color);
}

.our-icons {
    width: 70px;
    height: 70px;
}
.trird-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-text);
    margin-bottom: 10px;
}

.desc-advantage {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color-text)
}